{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html'%}

<div class='container'>
    <h1 class="center-align">Home Page</h1>

    <div class="row">
        <div class="col s12 m4">
            <div class="card red lighten-2">
                <div class="card-content white-text">
                    <img class="materialboxed responsive-img" src="https://rahulmandviya.technology/assets/img/rahul.png">
                    <span class="card-title">{{ name }}</span>
                    <p></p>
                </div>
                <div class="card-actions">
                    <a href="#">GitHub </a>
                    <a href="#">LinkedIn </a>
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <div class="card red lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">About Me</span>
                    <p>{{ about_me }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %} 

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, {});
  });
</script>

{% endblock %}