{% extends 'main/base.html' %}

{% block content %}

{% include 'main/navbar.html' %}

    <div class="container">
        <h1 class="center-align">Languages I love</h1>
        <div class="row">
            <ul class="collection">
                <li class="collection-item">Python</li>
                <li class="collection-item">C++</li>
                <li class="collection-item">HTML</li>
                <li class="collection-item">CSS</li>
            </ul>
        </div>
    </div>

{% endblock %}