{% extends 'main/base.html' %}

{% block content %}

{% include 'main/navbar.html' %}

<div class="container">
    <h1 class="center-align">Projects</h1>
    <div class="row">
        <div class="col s12 m6">
            <div class="card red lighten-2">
                <div class="card-content white-text">
                  <span class="card-title">My Favourite Projects</span>
                  <p>This are the projects made by me.</p>
                </div>
              </div>
        </div>
        <div class="col s12 m6">
            <ul class="collapsible">
                {% for icon, name, about in projects %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">{{ icon }}</i>{{ name }}</div>
                    <div class="collapsible-body"><span>{{ about }}</span></div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
    });
    </script>

{% endblock %}